.header{
  /* position:fixed; */
  top: 0;
  left:0;
  background-color: rgb(236, 171, 236);
  color :  white;
  font-size: 20px;
  padding: 16px, 24px;
  font-weight: bold;
  text-align: left;

}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: purple;
  color: rgb(199, 136, 136);
  text-align: center;
  padding: 10px;
}
.note{
  position: fixed;
  background-color:antiquewhite;
  border-radius: 10px;
  box-shadow: [inset] h-offset v-offset blur spread color;
}